.nav {
    padding: 32px 0 8px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }
    &__logo {
        display: flex;
        align-items: center;
        gap: 8px;
        & span {
            color: #FFF;
            font-weight: 700;
        }
    }
    &__burger {
        width: 24px;
        height: 24px;
        position: relative;
        cursor: pointer;
        display: none;
        @include media(768) {
            display: block;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            right: 0;
            height: 2px;
            background: #fff;
        }
        &::before {
            top: 5px;
            width: 100%;
        }
        &::after {
            top: 12px;
            width: 15px;
        }
    }
    &__menu {
        position: relative;
        transition: .5s;
        &-header {
            margin-bottom: 47px;
            padding: 16px 16px 8px 16px;
            display: none;
            @include media(768) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        &-close {
            width: 24px;
            height: 24px;
            position: relative;
            cursor: pointer;
            &::after,
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 2px;
                width: 100%;
                background: #fff;
            }
            &::after {
                transform: rotate(45deg);
            }
            &::before {
                transform: rotate(-45deg);
            }
        }
        &-footer {
            position: absolute;
            padding-bottom: 36px;
            width: 100%;
            left: 0;
            bottom: 0;
            display: none;
            @include media(768) {
                display: block;
            }
        }
        &-media-list {
            display: flex;
            justify-content: center;
            gap: 8px;
        }
        @include media(768) {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 999;
            width: 50%;
            height: 100%;
            background: #1f2227;
            transition: .4s;
            transform: translateX(100%);
        }
        @include media(576) {
            width: 100%;
        }
        &.active {
            transform: translateX(0);
        }
    }
    &__list {
        display: flex;
        gap: 32px;
        align-items: center;
        @include media(768) {
            flex-direction: column;
            align-items: flex-start;
            padding: 16px;
        }
        &-item {
            display: flex;
            flex-direction: column;
        }
        &-item span {
            width: 100%;
            height: 1px;
            background-color: #fff;
            border-radius: 10px;
            transform: scale(0);
            transition: .5s;
        }
        &-link {
            color: #ABB2BF;
            transition: .4s;
            &.router-link-active {
                color: #fff;
            }
        }
        &-link::before {
            content: '#';
            color: #C778DD;
            font-weight: 500;
        }
        &-item:hover span{
            transform: scale(1);
        }
    }
}


