.section-title {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    &::before {
        content: '#';
        color: #C778DD;
        font-size: 32px;
        font-weight: 500;
    }
    &::after {
        content: '';
        display: inline-block;
        height: 1px;
        background-color: #C778DD;
        margin-left: 16px;
    }
}

.projects {
    padding: 37px 0 53px;
    background: url('@/assets/images/special-bg/projects-sbg.svg') no-repeat right 240px;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 48px;
        &-link {
            color: #FFF;
            font-weight: 500;
        }
        & .section-title::after {
            width: 511px;
        }
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;
    }
    @include media(1200) {
        & {
            background: transparent;
        }
    }
    @include media(1100) {
        & .section-title::after {
            width: 0;
        }
        &__inner {
            justify-content: space-evenly;
            gap: 50px;
        }
    }
    @include media(768) {
        &__inner {
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }
    @include media(480) {
        & {
            padding: 25px 0;
        }
        & .section-title {
            font-size: 24px;
        }
    }
}

.skills {
    padding: 53px 0 56px;
    & .section-title {
        margin-bottom: 12px;
        &::after {
            width: 239px;
        }
    }
    &__inner {
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__items {
        padding-top: 30px;
        max-width: 584px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        gap: 16px;
        
    }
    &__item {
       border: 1px solid #ABB2BF;
       max-width: 178px;
       width: 100%;
       &-title {
        border-bottom: 1px solid #ABB2BF;
        padding: 8px;
        color: #FFF;
        font-weight: 600;
       }
       &-list {
        display: flex;
        padding: 8px;
        gap: 8px;
        flex-wrap: wrap;
        color: #ABB2BF;
       }
    }
    &__img {
        max-width: 350px;
        &-pic {
            width: 100%;
        }
    }
    @include media(1024) {
        &__inner {
            justify-content: center;
            padding-left: 0;
        }
        &__items {
            max-width: unset;
            width: 80%;
        }
        &__img {
            display: none;
        }
    }
    @include media(768) {
        &__items {
            width: 100%;
            height: unset;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    @include media(576) {
        & {
            padding: 25px 0;
        }
        &__items {
            flex-wrap: wrap;
            flex-direction: column;
        }
        &__item {
            max-width: unset;
        }
    }
    @include media(480) {
        & .section-title {
            font-size: 24px;
        }
    }
}

.about {
    padding: 56px 0;
    background: url('@/assets/images/special-bg/about-sbg.svg') no-repeat right 265px,
                url('@/assets/images/special-bg/about-sbg2.svg') no-repeat left 200px;
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__info {
        max-width: 516px;
        & .section-title {
            margin-bottom: 23px;
            white-space: nowrap;
            &::after {
                width: 100%;
            }
        }
        &-text {
            color: #ABB2BF;
            line-height: 26px;
            & p {
                margin-bottom: 27px;
            }
        }
        &-btn {
            display: inline-block;
            padding: 8px 16px;
            border: 1px solid #C778DD;
            color: var(--white, #FFF);
            font-weight: 500;
            transition: .5s;
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
                color: #C778DD;
            }
        }
    }
    &__img {
        max-width: 339px;
        &-pic {
            max-width: 340px;
            width: 100%;
            height: auto;
            vertical-align: bottom;
            border-bottom: 1px solid #C778DD;
        }
    }
    @include media(1200) {
        & {
            background: transparent;
        }
    }
    @include media(1024) {
        &__info {
            max-width: unset;
            width: 60%;
        }
        &__img {
            max-width: unset;
            width: 40%;
        }
    }
    @include media(768) {
        &__inner {
            flex-direction: column;
        }
        &__info {
            width: 100%;
        }
        &__img {
            width: 100%;
            text-align: center;
            &-pic {
                max-width: unset;
                width: 60%;
            }
        }
    }    
    @include media(576) {
        & {
            padding: 25px 0;
        }
    }
    @include media(480) {
        & .section-title {
            font-size: 24px;
        }
        &__info-text {
            font-size: 14px;
        }
        &__img-pic {
            width: 80%;
        }
    }
}

.contacts {
    padding: 56px 0 145px;
    background: url('@/assets/images/special-bg/contacts-sbg.svg') no-repeat left 57px;
    & .section-title {
        margin-bottom: 45px;
        &::after{
            width: 127px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        color: #ABB2BF;
        font-weight: 500;
        max-width: 505px;
    }
    &__box {
        border: 1px solid #ABB2BF;
        padding: 16px;
        &-header {
            color: #FFF;
            font-weight: 600;
            margin-bottom: 16px;
        }
        &-links {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        &-link {
            color: #ABB2BF;
            display: flex;
            align-items: center;
            gap: 5px;
            & img {
                vertical-align: bottom;
            }
            &:first-child img {
                padding: 4px;
                width: 32px;
                height: 32px;
                vertical-align: bottom;
            }
        }
    }
    @include media(1200) {
        & {
            background: transparent;
        }
    }
    @include media(1024) {
        &__text {
            max-width: 400px;
        }
    }
    @include media(768) {
        &__text {
            max-width: unset;
            margin-bottom: 20px;
        }
        &__inner {
            flex-direction: column;
        }
        & {
            padding: 25px 0;
        }
    }
    @include media(480) {
        & .section-title {
            font-size: 24px;
            margin-bottom: 20px;
        }
        &__text {
            font-size: 14px;
        }
    }
}